<html>
<body>
body{
background-color:light blue;
}
p{
font size:150%;
color:yellow:
font-family:Lucida censole;
}
P1{
font-size:150%;
color:green;
font-family:arial;

}
</body>
</html>